.skills {
  background-color: black;
  margin-top: -55px;
  display: grid;
  grid-column-gap: 50px;
  margin-top: -55px;
  align-items: center;
}
.skills > img {
  width: 22vw;
  background-color: rgb(255, 255, 255);
}
.skill__image {
  padding: 15px;
  margin: 75px;
  margin-left: 35%;
  transition: opacity 1s;
}
.skill__image:hover {
  bakground-color: rgb(255, 140, 0);
}
.skills {
  position: relative;
  top: 50vh;
  right: -75%;
  transform: translate(-50%, -50%);
}
.tinder {
  position: absolute;
  width: 250px;
}
h3 {
  color: white;
  text-align: center;
}
div > .tinder > img {
  background-color: white;
  padding: 15px;
  margin: 75px;
  width: 40vw;
  height: 350px;
  background-size: cover;
  background-color: rgb(255, 255, 255);

  margin-left: 35%;
}
@media only screen and (max-width: 600px) {
  .skills {
    top: 45vh;
    left: 46vw;
  }
  div > .tinder > img {
    width: 55vw;
    height: 35vw;
  }
}
